NODE_ENV=development

API_PORT=3000
WORKER_PORT=3001
CLASSIFIER_PORT=3002
WS_PORT=3003

JWT_SECRET=replace-me

REDIS_URL=redis://localhost:6379
DATABASE_URL=postgres://postgres:postgres@localhost:5432/beacon
